@import url('https://fonts.googleapis.com/css?family=Anton');

body{
  background-color: #166da0;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
}

#heading{
  width:100%;
  text-align: center;
  font-size: 6vh;
  border-bottom: 5px solid black;
}

#container{
  width: 75%;
  border: 2px solid black;
  border-radius: 45px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 15px;
/*   background-color: #fff; */
  color: #000;
  text-align: center;
}

#temp{
  font-size: 50px;
}
#location, #weather{
  font-size: 20px;
}

#icon{
  height: 50px;
  width: 50px;
  display: inline-block;
  position: relative;
  top: 18px;
}
